@import "../../styles/vars.scss";

.leaderboard {
  margin-top: 30px;

  table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;

    tr {
      border: 1px solid $border;

      &:nth-child(even),
      th {
        background-color: $bg;
      }

      &:nth-child(odd) {
        background-color: $light-bg;
      }

      th {
        text-transform: uppercase;
      }

      th,
      td {
        font-size: 0.875rem;
        color: $body;
        padding: 10px 15px;
      }

      th:not(:last-child),
      td:not(:last-child) {
        border-right: solid 1px $border;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .td-rank,
  .th-rank {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .leaderboard {
    margin-top: 50px;
  }
  .leaderboard .container.medium-gap {
    gap: 50px;
  }
  .leaderboard table tr th, .leaderboard table tr td {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1025px) {
  .leaderboard {
    margin-top: 80px;
  }
}
