@import "../../styles/vars.scss";

.hero {
  position: relative;
  background-color: $accent;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -30px;
    right: 0;
    height: 30px;
    width: 50%;
    background-color: #2b3944;
  }

  .container {
    min-height: 150px;
  }
}

// Media Queries
@media screen and (max-width: 350px) {
  .hero .container.flex-row {
    flex-direction: column;
  }
}

@media screen and (min-width: 500px) {
  // Hero Gap
  .hero .container.medium-gap {
    gap: 50px;
  }
  .hero .container {
    min-height: 200px;
  }
}

@media screen and (min-width: 768px) {
  .hero::after {
    bottom: -50px;
    height: 50px;
  }
  .hero .container {
    min-height: 250px;
  }
}

@media screen and (min-width: 1025px) {
    .hero::after {
      bottom: -80px;
      height: 80px;
    }
}
