@import "./vars.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Raleway, sans-serif;
}

// Sections
section {
  padding: 50px 30px 50px 30px;
}

// Positioning
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-equal-col {
  flex: 1;
}

.large-gap {
  gap: 50px;
}

.medium-large-gap {
  gap: 40px;
}

.medium-gap {
  gap: 30px;
}

.small-gap {
  gap: 20px;
}

.extra-small-gap {
  gap: 10px;
}

// Widths
.max-width {
  max-width: 1600px;
  margin: 0 auto;
}

.large-width {
  max-width: 1200px;
  margin: 0 auto;
}

.medium-large-width {
  max-width: 1000px;
  margin: 0 auto;
}

.medium-width {
  max-width: 800px;
  margin: 0 auto;
}

.small-width {
  max-width: 600px;
  margin: 0 auto;
}

.extra-small-width {
  max-width: 500px;
  margin: 0 auto;
}

// Heights
.full-height {
  height: 100vh;
}

// Page Elements
h1 {
  color: $bg;
}

table {
  text-align: left;
  border-collapse: collapse;

  tr {
    border: 1px solid;
  }
}

header, .hero {
  background-color: $accent;
}

// Media Queries
@media screen and (min-width: 768px) {
  section {
    padding: 120px 50px 120px 50px;
  }
}