$primary: #AAED37;
$primary-alt: #AAED37;
$links: #AAED37;
$links-hover: #94E607;
$accent: #2B3944;
$body: #2B3944;
$bg-alt: #29343c;
$bg: #ffffff;
$light-bg: #F7FDEC;
$bg-accent: #394854;
$overlay-bg: rgba(43, 57, 68, 0.9);
$disabled: #AEB8C0;
$disabled-text: #FAFAFA;
$foreground: #AAED37;
$border: #CCCCCC;
$footer-text: rgba(250, 250, 250, 0.50);