$primary: #AAED37;
$primary-alt: #AAED37;
$links: #AAED37;
$links-hover: #94E607;
$accent: #2B3944;
$bg: #ffffff;
$light-bg: #F7FDEC;
$body: #2B3944;
$bg-accent: #394854;
$disabled: #AEB8C0;
$foreground: #AAED37;
$border: #CCCCCC;