@import "../../styles/vars.scss";

.quiz-container {
    position: relative;
    width: 500px;
    background: $bg;
    border-radius: 4px;
    margin-top: 100px;
    padding: 30px 60px;

    .active-question-number {
        font-size: 2rem;
        font-weight: 500;
        color: $primary;
    }

    .total-questions {
        font-size: 1rem;
        font-weight: 500;
        color: $disabled;
    }

    h2 {
        font-size: 1.25rem;
        font-weight: 500;
    }

    ul {
        margin: 20px 0 0 0;

        li {
            list-style: none;
            text-decoration: none;
            color: $foreground;
            font-size: 1rem;
            background: $bg;
            border: 1px solid $disabled;
            border-radius: 16px;
            padding: 11px;
            margin-top: 15px;
            cursor: pointer;
        }

        .selected-answer {
            background: $primary;
            border: 1px solid $accent;
            color: $bg;
        }
    }

    .quiz-footer {
        display: flex;
        justify-content: flex-end;    
    }

    button {
        background: linear-gradient(0deg, $primary 0.03%, $accent);
        border-radius: 9px;
        font-size: 1.125rem;
        color: $bg;
        padding: 10px 42px;
        outline: none;
        border: none;
        margin: 15px 0;
        cursor: pointer;

        &:disabled {
            background: $bg-accent;
            color: $disabled;
            cursor: not-allowed;
        }
    }
    
    .result {
        text-align: center;

        h3 {
            font-size: 1.5rem;
            letter-spacing: 1.4px;
            text-align: center;
        }

        p {
            font-size: 1rem;
            font-weight: 500;
        
           span {
                color: $primary;
                font-size: 1.5rem;
            }
        }
    }
}