@import "../../styles/vars.scss";

.exam-questions {
    .exam-list {
        margin-left: 18px;
    }
    & li:not(:last-child) {
        padding-bottom: 30px;
    }

    & li .exam-question,
    & li .exam-choices,
    & li .correct-answer {
        line-height: 1.5;
        padding-bottom: 10px;
    }
    
    & li .exam-editor-strong-text {
        padding-right: 5px;
    }
}

.pipe {
    padding: 0 5px 0 5px;
}