@import "../../styles/vars.scss";

header {
  padding: 0 30px 0 30px;
  background-color: $accent;
}

.primary-nav {
  height: 90px;

  & ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  & a {
    color: $bg;
  }
  & .nav-list {
    display: none;
  }
}

// Media Queries
@media screen and (min-width: 768px) {
  .primary-nav .nav-list {
    display: flex;
  }
  header {
    padding: 0 50px 0 50px;
  }
}
